<%= link_to("Back to tasks",tasks_path,:class => 'back-link') %>
<div>
    <%= form_for(@task) do |f| %>
    <% # url: task_path(@task) method 'patch'%>
        <h2>Tasks</h2>
        <table class='listing' style="width: 100%">
            <tr>
                <th>Name</th>
                <td><%= f.text_field(:name) %></td>
            </tr>
            <tr>
                <th>Position</th>
            <td><%= f.text_field(:position)  %></td>
            </tr>
            <tr>
                <th>Completed</th>
                <td><%= f.check_box(:completed) %></td>
            </tr>
            <tr>
                <th>Description</th>
                <td><%= f.text_area(:description) %></td>
            </tr>
        </table>
        <div>
            <%= f.submit('Edit Task'.capitalize)%>
        </div>
    <% end %>
</div>